.topnav{
    /* border:1px solid red; */
    display: flex;
    justify-content: flex-end;
    /* padding-right: 60px;
    padding-left: 50px; */
    background-color: rgb(229,124,216);
    padding: 10px 60px 10px 0px;
}
.bottomnav{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    /* padding-right: 60px;
    padding-left: 50px; */
    background-color: rgb(44,19,56);
    padding: 15px 30px 15px 30px;
}
