.topnav{
    /* border:1px solid red; */
    display: flex;
    justify-content: flex-end;
    background-color: rgb(229,124,216);
    padding: 10px 60px 10px 0px;
    width: 100%;
}
.bottomnav{
    /* border:1px solid red; */
    border-bottom: 0.5px solid white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(44,19,56);
    padding: 15px 30px 15px 30px;
    position: "-webkit-sticky";
    position: sticky;
    top: 0;
    z-index: 3;
}
    

